/* Resume styles */

hr {
    margin-top: 15px;
    margin-bottom: 15px;
}
.name {
    margin-top: 0px;
    margin-bottom: 0px;
}

.title {
    margin-top: 0px;
    color: gray;
}

.contact-info ul {
    list-style-type: none;
}

.section-title {

}

.company, .school {
    font-size: 16px;
}

.company-position {

}

.company-summary {
    margin-bottom: 5px;
    font-weight: bold;
}

.company-description {
    margin-bottom: 10px;
}

.company-description ul {
    padding-left: 0px;
    list-style-type: none;
}

.education-section {
    margin-bottom: 5px;
}



